
.social-net-flag-main {
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 4px;
  height: 2em;
  margin-bottom: 1em;
  cursor: pointer;
  padding: 0.5em 1em;
  h1 {
    font-size: 1em;
    font-weight: normal;
  }
  img {
    cursor: pointer;
  }
}
.social-net-flag-main:hover{
  background-color: rgba(65, 154, 131, 0.16);
}
@media screen and(max-width: 750px) {
 .social-net-flag-main{
   height: 1em;
   h1{
     font-size: 0.8em;
   }
   img{
     height: 1em;
     width: 1em;
   }
 }
}