.textfield-main {
  align-items: flex-start;
  margin-bottom: 0.5em;

  label {
    font-size: 0.6em;
    color: #5b4949;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      border: none;
      outline: none;
      height: 2em;
      background-color: transparent;
      border-bottom: 2px solid black;
    }
  }
  .label-error {
    font-size: 0.6em;
    color: #de1818;
  }
  .error {
    border: none;
    outline: none;
    height: 2em;
    background-color: transparent;
    border-bottom: 2px solid #de1818;
    color: #de1818;
  }
  p {
    color: #de1818;
    font-size: 0.4em;
  }

}