.double-layout-main {
  margin: -0.5em;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-row: 0;
  transition: grid-template-row 0.5s;
  border-left: 15px solid darkorange;
}

@media screen and(max-width: 750px) {
  .double-layout-main {
    grid-template-columns: 1fr;

    .double-layout-right {

    }

    .double-layout-left {
      height: 85vh;
    }
  }
}