.form-main {
  margin-top: -2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    margin-top: -1em;
    font-size: 1.2em;
    width: 70%;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    .form-sign{
      font-size: 0.75em;
      span{
        color: #9AC5BAFF;
        cursor: pointer;
      }
      span:hover{
        color: #419a83;
      }
    }
  }
}

@media screen and(max-width: 750px) {
  .form-main {
    margin-top: -2em;
    h1 {
      font-size: 1.3em;
    }
    form {
      font-size: 1em;
      box-shadow: none;
    }
  }

}